{% extends "layout.njk" %}


{%block content %}

<div class="wrapper">
    <div class="wrapper-left">
        <h1>As melhores Receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro</p>
    </div>
    <div class="wrapper-right">
        <img src="chef.png" alt="Chef">   
    </div>
 </div>

<section class="wrapper-recipes">

    <h2>Mais Acessados</h2>

    
    <div class="recipes">
        
        {%for item in receitas%}   
        <div class="recipe" id= {{item.id}}>
            <div class="img-recipe">  
                <img src="{{item.image}}" alt="Imagem de {{item.title}}">
            </div>
            <div class="recipe-h2">
                <h2>{{item.title}}Tr</h2>
            </div>
            <div class="recipe-p">
                <p>por {{item.author}}</p>
            </div>
        </div>
        {%endfor %}
      
        

        
  

</div>
</section>

{% endblock %}


