{% extends "layout.njk" %}


{%block head%}  
        
<title>ERRO - Rocketset (launchbase) </title>
        
{%endblock%}

        {% block content%}

       <div class="not-found">
       <p>Página não encontrada!<br> <br> Por favor refaça sua busca.</p>
       </div>

        {%endblock%}
 