{% extends "layout.njk" %}

{%block head%}

<title>Cursos - Rocketseat (launchbase)</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">


{% endblock%}

{% block content%}

        <div id="wrapper">
               <h1>{{ite.title}}</h1>
        </div>

        <section class="url">

            <div class="card" id = "{{ite.id}}">

                <div class="card-url">
                    <iframe src="https://rocketseat.com.br/{{ite.id}}" frameborder="0"></iframe>
                </div>
                <div class="card-title">
                    <p>{{ite.title}}</p>
                </div>
                <div class="card-info">
                    <p>{{ite.duration}}</p>
                    <p class="card-price">{{ite.price}}</p>
                </div>
            </div>
            </div>      

        </section>


 {% endblock  %}