{% extends "layout.html" %}

{% block head %}

<title>Portfolio - Taiz Alves </title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

{% endblock %}

{% block content %}
        
       <div id="wrapper">
            <h1>Aulas</h1>

       </div>

       <section class="cards" >

            <div class="card" id = "bJzb-RuUcMU">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/bJzb-RuUcMU/0.jpg" alt="Aprendendo a programar">
                </div>
     
                <div class="card_content">
                    <p>Aulas Python desde o início</p>
                </div>
     
                <div class="card_info">
                    <p>8h37min</p>
                     <p class="card_price">Free</p>
                </div>

            </div>

            <div class="card" id = "dD2EISBDjWM">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/dD2EISBDjWM/hqdefault.jpg" alt="HTML">
                </div>
     
                <div class="card_content">
                    <p>Html na prática</p>
                </div>
     
                <div class="card_info">
                    <p>10h03min</p>
                     <p class="card_price">Free</p>
                </div>

            </div>

            <div class="card" id = "afqHeaDsKEI">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/afqHeaDsKEI/0.jpg" alt="CS50">
                </div>
     
                <div class="card_content">
                    <p>Curso CS50- Harvard</p>
                </div>
     
                <div class="card_info">
                    <p>25h37min</p>
                     <p class="card_price">Free</p>
                </div>

            </div>

            <div class="card" id = "2alg7MQ6_sI">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/2alg7MQ6_sI/hqdefault.jpg" alt="Git e Github">
                </div>
     
                <div class="card_content">
                    <p>Git e Github</p>
                </div>
     
                <div class="card_info">
                    <p>30min</p>
                     <p class="card_price">Free</p>
                </div>

            </div>

            <div class="card" id= "GykTLqODQuU">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/GykTLqODQuU/0.jpg" alt="Fomulário">
                </div>
     
                <div class="card_content">
                    <p>Formulário animado com JS e CSS| Mayk Brito</p>
                </div>
     
                <div class="card_info">
                    <p>57min</p>
                     <p class="card_price">Free</p>
                </div>

            </div>

            <div class="card" id= "RqQ1d1qEWlE">
                <div class="card_image-container">
                    <img src="https://img.youtube.com/vi/RqQ1d1qEWlE/0.jpg" alt="JavaScript">
                </div>
     
                <div class="card_content">
                    <p>JavaScript do Zero</p>
                </div>
     
                <div class="card_info">
                    <p>2h13min</p>
                     <p class="card_price">Free</p>
                </div>

            </div>

       </section>

       <div class="modal-overlay">
           <div class="modal">
               <a class="close-modal">
                   <i class="material-icons">close</i>
               </a>

               <div class="modal-content">
                   <!--video aqui--> 
                   <iframe src="" frameborder="0"></iframe>


               </div>
           </div>
       </div>

       <script src="scripts.js"></script>

       {% endblock %}