@import "https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap" ;

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body{
    background-color: white;
    color: #111111;;
    font-family: 'Roboto', sans-serif;
   
}

.container{
    width: 980px;
    height: auto;
    margin: auto;
}

header{
    padding: 36px 0 30px 0;
    display: grid;
    grid-template-columns: 90.6px 1fr;
    justify-content: center;
    align-items: center;
}

header a{
    font-size: 16px;
    text-decoration: none;
    color: #111;
    margin: 30px;
}

header  a:hover {
    font-size: 18px;
    transition: color 200ms;
  }

.links{
    text-align: center;
}

header .logo {
    height: 27px;
  }

.wrapper {
    width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    background-color: #FBDFDB;
}

.wrapper-left{
    margin: auto;
    padding: 70px;
    font-size: 18px
}

.wrapper-left h1 {
    font-size: 32px;
}

.wrapper-right {
    margin: auto;
    padding-top: 6%;
}


.wrapper img{
    float: right;
    width: 216px;
    height: 300px;
    margin-top: 60px;
    margin-right: 100px;
    padding-left: 248px;
}


.wrapper-recipes h2 {
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;  
    
}

.recipes { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; 
    width: 940px;  
    height: 366px;
    
}

.recipes .recipe {
    margin-top: 80px;
    margin-bottom: 20px; 
    
}
    
.recipe:hover{
    cursor: pointer;
}
.recipe-h2 h2,
.recipe-h2 p {
    margin-top: 20px;

}

.img-recipe{
    width: 300px;
    height: 140px;
    border-radius: 15px;
 
}



.recipe-h2{
    margin-top: 10px;
}
.recipe-h2 h2{
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
}

.recipe-h2 p {
    margin-top: 5px;
    color: #777777 ;
    font-size: 14px;
}

.footer {
    text-align: center;
    color: #999999;
    font-size: 14px;
    margin-left: 0;
    margin-top: 50px; 
    height: 62px;
    background-color: #EEEEEE;
}
.footer p {
    padding: 23px;
}


/* *** SOBRE ***** */

.content h3 {
    margin-bottom: 20px;
    font-weight: bold;
    
}

.content p {
    color:  #444444;
    font-size: 18px;
    line-height: 28px;
}

.about-footfy h3 {
    margin-top: 50px;
    font-size: 24px;
    line-height: 28px;
}

.start h3,
.our_recipes h3  {
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
}

/* *** MODAL ***** */
.modal-over {
    background-color:#000000 ;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    opacity: 0.6;
    visibility: hidden;
}

.modal{
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 660px;
    height: 413px;
    margin: 200px; /* verificar */
    position: relative;
    
    

}

.modal .close-modal {
    color: #999999;
    font-size: 16px;
    line-height: 19px;
    width: 98px;
    position: absolute;
    bottom: 5px;
    right: 38%;
    cursor: pointer;
}

/* ***    MODAL. ACTIVE  ***** */

.modal-over.active{
    opacity: 1;
    visibility: visible;
}


.modal-content img{
    width: 600px;
    height: 200px;
    margin: 30px;
    margin-bottom: 20px;

}

.modal-content h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
}

.modal-content p {
    font-size: 18px;
    line-height: 21px;
    color: #777777;
    text-align: center;
}



/* === DETALHE === */

#recipe {
    margin-top: 20px;
  }
  
.recipe #card p {
    text-align: center;
  }
  
#card img {
    border-radius: 30px 30px;
  }
  
#card .recipe-h2 p {
    font-size: 36px;
    line-height: 46px;
    font-weight: bold;
  }
  
.recipe-p  p {
    font-size: 22px;
    line-height: 32px;
    filter: brightness(80%);
  }
  
#recipes #ingredients div,
#recipes #preparation div,
#recipes #information div {
    display: flex;
    margin: 20px 0px;
  }
.ingredient h2,
.preparation h2,
.information h2 {
    font-size: 22px;
    line-height: 32px;
  }
  
.recipe button {
    margin: 10px 0px 0px 15px;
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    cursor: pointer;
  }
  
.recipes button:hover {
    color: rgb(226, 161, 64);
    transition: color 200ms;
  }
  
.content_detail hidden {
    display: none !important;
  }
  
.ingredient li,
.preparation li {
    list-style-position: inside;
  }
  
.ingredient li,
.preparation li,
.information p {
    font-size: 18px;
    line-height: 28px;
    color: #444;
  }
  
.information p {
    text-align: justify;
  }

