@import "https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap" ;


*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: rgb(215, 178, 236);
    font-family: 'Roboto', sans-serif;
    color: black;
}
header {
    padding: 30px;
    background: rgb(51, 10, 129);
    
}
.links {
    text-align: center;
    color: rgba(5, 131, 131, 0.925)
}


.links a {
    color: rgb(101, 215, 230);
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    margin: 0 16px;
    padding: 30px;
    text-decoration: none;

}

.links a:hover{
    color: rgb(218, 126, 15);
    transition: color 200ms;
}

#wrapper {
    text-align: center;
    margin-top: 20px;
}


#wrapper img{
    border-radius: 50% ;
    height: 400px;
    border: 3px solid darkblue;
    margin-bottom: 10px;
    margin-top: 30px;
}

#wrapper h1{
    color: #7159c1;
    font-size: 38px;
    line-height: 48px;
    font-weight: bold;
    margin-bottom: 5px;

}

#wrapper i{
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    
}

#wrapper p{
    font-size: 20px;
    line-height: 30px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 15px;
    max-width: 700px;
    
}

.list {
    text-align: center;
    margin: auto;
    font-weight: normal;
    padding: 30px;
    
}

.list h2{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    
}


.list li{
    padding: 0.5px;
    margin-top: 8px;
    opacity: 0.8;
    font-size: 18px;
    line-height: 28px;
}

.links-footer a{
    color: darkblue;
    font-size: 16px;
    line-height: 26px;
    margin: auto;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    position: relative;
    left: 38%;
}

.links-footer a:hover{
    color: rgb(218, 126, 15);
    transition: color 200ms;
    text-decoration: underline;
}

/* ===== CARDS === */

.cards {
    max-width: 1500px;
    margin: 50px 150px 100px 200px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}

.card{
    background-color: rgb(215, 178, 236);
    display: grid;
}

.card-img {
    width: 100%;
    
}

.card-title {
    padding: 20px;
    text-align: auto;
    font-weight: bold;
}

.card-info{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.card-price {
    background-color: rgb(215, 178, 236);
    filter: brightness(80%);
    padding: 1px 20px;
    border-radius: 20px 40px;
    text-align: center;
}

/*-- MODAL --- */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;
    height: 60%;
    position: fixed;
    top:20%;
    opacity: 0;
    visibility: hidden; 
    margin: 10px 20px;
}

.modal {
    background-color: white;
    width: 92%;
    height: 92%;
    margin: 20px  40px;
    position: absolute;
}

.modal .close-modal{
    color: black;
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
}

.modal .maximize-modal{
    color: black;
    position: absolute;
    right: 20px;
    top: px;
    cursor: pointer;
    margin: 5px 30px;
}


/* ==== MODAL.ACTIVE ===== */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;

}

iframe {
    width: 95%;
    height: 95%;
    position: absolute;
    top: 5%;
    margin-left: 2%;
}

/* ==== MODAL.MAX ===== */
.modal.max{
    background-color: white;
    width: 98%;
    height: 98%;
    position: fixed;
    top: 0;
    margin: 08px 0px;
}


.not-found{
    text-align: center;
    margin-top: 40px;
    padding: 30px;
    font-size: 24px;
    color: darkred;

}

/* ==== URL ===== */

.url {
    background: white;
    margin: 0 auto;
    max-width: 950px;
}

.card-url {
    position: relative;
    padding-top: 68%;
    background-color: white;
}